# Mac Finder
*.DS_Store

# Node
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
yarn-error.log*

# Vite local cache
vite.config.timestamp-*
.vite/
.vite_extra/

# Env files
.env
.env.*
!.env.example

# Editor configs
.vscode/
.idea/
*.swp
.cursor/
cursor.json
*.cursor-backup
*.cursorrules

# Optional: local SSL certs
*.pem
*.crt
*.key
