html {
    scroll-behavior: smooth;
}

$background-main: #fff;
$background-sub: #f5f5f5;
$text-black: #070707;
$text-gray: #777;
$text-white: #fff;
$box: #f8f8f8;
$border: #eee;
$black: #070707;
$accent: #FF4800;

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: $text-black;
    background-color: $background-main;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;

    a {
        color: inherit;
        text-decoration: none;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 40px;
    mix-blend-mode: difference;
    z-index: 99;

    .logo {
        flex: 1;
        display: flex;
        justify-content: flex-start;

        a {
            display: inline-block;
            width: fit-content;
            height: fit-content;

            img {
                display: block;
            }
        }
    }

    nav {
        flex: 3;
        display: flex;

        ul {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            gap: 2px;

            li {
                font-size: 18px;
                font-weight: 500;
                color: $text-white;
                transition: 0.3s ease-out;
            }
        }

        .menu:last-child {
            justify-content: flex-end;
        }
    }

}

/* li hover */
header:has(.menu li:hover) .menu li {
    opacity: 0.2;
}

header:has(.menu li:hover) .menu li:hover {
    opacity: 1;
}

.hero {

    .hero_img {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #1a1a1a;
        overflow: hidden;

        #webgl-canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        #webgl-canvas-2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            mix-blend-mode: multiply;
            opacity: 0.3;
        }

        #wave-canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 4;
            display: block;
            mix-blend-mode: screen;
            opacity: 0.8;
            pointer-events: auto;
            cursor: pointer;
        }

        .canvas_txt {
            position: absolute;
            bottom: 32px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.01em;
            color: $text-white;
            z-index: 5;
        }
    }

    .hero_txt {
        width: 100%;
        height: 100vh;
        padding: 40px;
        font-size: 28px;
        font-weight: 500;
        line-height: 140%;
        position: relative;
        z-index: 3;
    }
}


main {
    section {
        padding: 40px;
        padding-bottom: 200px;

        .title_wrap {
            display: flex;
            align-items: flex-end;
            padding-bottom: 50px;

            .section_title {
                flex: 1;
                font-family: "Instrument Serif", sans-serif;
                font-size: 15vw;
                font-weight: 500;
                line-height: 0.75em;
                color: $text-black;
            }

            .section_subtitle {
                flex: 1;
                font-size: clamp(16px,
                        calc(16px + (24 - 16) * ((100vw - 360px) / (1920 - 360))),
                        24px);

                font-weight: 300;
                line-height: 1.3em;
                letter-spacing: -0.01em;
                color: $text-gray;
            }
        }

        .project {
            display: flex;
            justify-content: start;
            gap: 40px;
            width: 100%;
            height: auto;
            position: relative;

            .project_imgs {
                flex: 1;
                min-height: 50vh;
                background-color: $box;
                border-radius: 20px;
                overflow: hidden;
                position: relative;

                .project_img_caption {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    img {
                        display: block;
                        width: 32px;
                        height: auto;
                        transform: rotate(90deg)
                    }
                }

                .project_img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.2s ease-in-out;
                    padding: 20px;
                    z-index: 1;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }

                .project_img:nth-child(4) {
                    img {
                        transform: scale(0.33);
                    }
                }
            }

            .project_items {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 40px;
                margin-top: 10px;
                margin-bottom: 10px;

                .project_item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 40px;
                    padding-bottom: 10px;
                    position: relative;
                    border-bottom: 1px solid $border;
                    transition: 0.3s ease-in-out;

                    .item_txt {
                        font-size: 26px;
                        font-weight: 500;
                        letter-spacing: -0.05em;
                        text-transform: capitalize;
                        transition: 0.3s ease-in-out;
                        // ::after 효과를 위한 position
                        position: relative;

                        // ::after 가상 요소
                        &::after {
                            position: absolute;
                            content: '';
                            top: 50%;
                            left: -0.7em;
                            width: 1.5em;
                            height: 0.3em;
                            border-radius: 100em;
                            background: $accent;
                            opacity: 0;
                            transition: all 0.525s cubic-bezier(0.625, 0.05, 0, 1);
                            transform: translate(-60%, -50%) scale(0);
                        }
                    }

                    .item_icon {
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s ease-in-out;
                        display: inline-block;
                        width: fit-content;
                        height: fit-content;

                        img {
                            display: block;
                        }
                    }

                    &:hover {

                        .item_txt {
                            margin-left: 0.7em;

                            // 호버 시 ::after 효과
                            &::after {
                                transform: translate(0, -50%) scale(1);
                                opacity: 1;
                                width: 0.3em;
                            }
                        }

                        .item_icon {
                            margin-right: 0.3em;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        // 이미지-아이템 매칭
        $proj-count: 10;

        @for $i from 1 through $proj-count {
            .project:has(.project_items .project_item:nth-child(#{$i}):hover) .project_imgs .project_img:nth-child(#{$i}) {
                opacity: 1;
                visibility: visible;
            }
        }

        .img_items {
            display: flex;
            margin-top: 20px;

            .img_item {
                width: 50%;
                height: 25vh;
                border-radius: 20px;
                background-color: $box;
                overflow: hidden;
                position: relative;
                will-change: transform;
                transform-origin: left top;

                .dim {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.3);
                    z-index: 1;
                    transition: 0.3s ease-in-out;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                &:hover {
                    .dim {
                        background: rgba(0, 0, 0, 0);
                    }
                }
            }
        }

        .vod_items {
            display: flex;
            justify-content: end;

            .vod_item {
                flex: 0.5;
                aspect-ratio: 16/9;
                border-radius: 20px;
                background-color: $box;
                overflow: hidden;
                cursor: url('./assets/icon/zoom_in.svg'), auto;
                transition: flex 0.3s ease-in-out, border-radius 0.3s ease-in-out;

                &.enlarged {
                    flex: 1;
                    cursor: url('./assets/icon/zoom_out.svg'), auto;
                }

                video {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }

        .sns_wrap {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            margin: 100px 0;

            .sns {
                flex: 1;
                height: 100%;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    gap: 8px;

                    li {
                        font-family: 'Sora', sans-serif;
                        font-size: 24px;
                        font-weight: 300;
                        letter-spacing: -0.03em;
                        color: $text-black;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    #Works .title_wrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    #Contact {
        padding-top: 40px;
        padding-bottom: 120px;
        background-color: $background-sub;
    }
}

footer {
    background-color: $background-sub;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    color: $text-gray;
}


// Mobile Size
@media (max-width: 1024px) {
    header {
        padding: 16px 20px;

        nav {
            display: none;
        }
    }


    .hero {
        .hero_txt {
            font-size: 20px;
            line-height: 140%;
            padding: 20px;
            height: auto;
            min-height: 60vh;
        }
    }


    main section {
        padding: 20px;
        padding-bottom: 80px;

        .title_wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            padding-bottom: 20px;

            .section_title {
                font-size: 80px;
            }
        }

        .project {
            height: auto;
            margin-top: 0px;

            .project_imgs {
                display: none;
            }

            .project_items {
                gap: 20px;

                .project_item {
                    padding-bottom: 10px;

                    .item_txt {
                        font-size: 20px;
                        font-weight: 500;
                    }

                    .item_icon {
                        opacity: 1;
                        visibility: visible;
                        display: inline-block;
                        width: fit-content;
                        height: fit-content;

                        img {
                            width: 32px;
                            height: 32px;
                            display: block;
                        }
                    }
                }
            }
        }

        .img_items {
            margin-top: 0;
        }

        .vod_items .vod_item {
            flex: 1;
        }

        .sns_wrap {
            margin: 40px 0;

            .sns ul li {
                font-size: 20px;
            }
        }
    }

    #Image .title_wrap .section_title {
        margin-bottom: 8px;
    }

    footer {
        display: none;
    }
}