html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #070707;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}
* a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 40px;
  mix-blend-mode: difference;
  z-index: 99;
}
header .logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
header .logo a {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
header .logo a img {
  display: block;
}
header nav {
  flex: 3;
  display: flex;
}
header nav ul {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 2px;
}
header nav ul li {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  transition: 0.3s ease-out;
}
header nav .menu:last-child {
  justify-content: flex-end;
}

/* li hover */
header:has(.menu li:hover) .menu li {
  opacity: 0.2;
}

header:has(.menu li:hover) .menu li:hover {
  opacity: 1;
}

.hero .hero_img {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  overflow: hidden;
}
.hero .hero_img #webgl-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero .hero_img #webgl-canvas-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: multiply;
  opacity: 0.3;
}
.hero .hero_img #wave-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: block;
  mix-blend-mode: screen;
  opacity: 0.8;
  pointer-events: auto;
  cursor: pointer;
}
.hero .hero_img .canvas_txt {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: #fff;
  z-index: 5;
}
.hero .hero_txt {
  width: 100%;
  height: 100vh;
  padding: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
  position: relative;
  z-index: 3;
}

main section {
  padding: 40px;
  padding-bottom: 200px;
}
main section .title_wrap {
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
}
main section .title_wrap .section_title {
  flex: 1;
  font-family: "Instrument Serif", sans-serif;
  font-size: 15vw;
  font-weight: 500;
  line-height: 0.75em;
  color: #070707;
}
main section .title_wrap .section_subtitle {
  flex: 1;
  font-size: clamp(16px, 16px + 8 * (100vw - 360px) / 1560, 24px);
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: -0.01em;
  color: #777;
}
main section .project {
  display: flex;
  justify-content: start;
  gap: 40px;
  width: 100%;
  height: auto;
  position: relative;
}
main section .project .project_imgs {
  flex: 1;
  min-height: 50vh;
  background-color: #f8f8f8;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
main section .project .project_imgs .project_img_caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section .project .project_imgs .project_img_caption img {
  display: block;
  width: 32px;
  height: auto;
  transform: rotate(90deg);
}
main section .project .project_imgs .project_img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
  padding: 20px;
  z-index: 1;
}
main section .project .project_imgs .project_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
main section .project .project_imgs .project_img:nth-child(4) img {
  transform: scale(0.33);
}
main section .project .project_items {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
main section .project .project_items .project_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #eee;
  transition: 0.3s ease-in-out;
}
main section .project .project_items .project_item .item_txt {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
  position: relative;
}
main section .project .project_items .project_item .item_txt::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -0.7em;
  width: 1.5em;
  height: 0.3em;
  border-radius: 100em;
  background: #FF4800;
  opacity: 0;
  transition: all 0.525s cubic-bezier(0.625, 0.05, 0, 1);
  transform: translate(-60%, -50%) scale(0);
}
main section .project .project_items .project_item .item_icon {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main section .project .project_items .project_item .item_icon img {
  display: block;
}
main section .project .project_items .project_item:hover .item_txt {
  margin-left: 0.7em;
}
main section .project .project_items .project_item:hover .item_txt::after {
  transform: translate(0, -50%) scale(1);
  opacity: 1;
  width: 0.3em;
}
main section .project .project_items .project_item:hover .item_icon {
  margin-right: 0.3em;
  opacity: 1;
  visibility: visible;
}
main section .project:has(.project_items .project_item:nth-child(1):hover) .project_imgs .project_img:nth-child(1) {
  opacity: 1;
  visibility: visible;
}
main section .project:has(.project_items .project_item:nth-child(2):hover) .project_imgs .project_img:nth-child(2) {
  opacity: 1;
  visibility: visible;
}
main section .project:has(.project_items .project_item:nth-child(3):hover) .project_imgs .project_img:nth-child(3) {
  opacity: 1;
  visibility: visible;
}
main section .project:has(.project_items .project_item:nth-child(4):hover) .project_imgs .project_img:nth-child(4) {
  opacity: 1;
  visibility: visible;
}
main section .project:has(.project_items .project_item:nth-child(5):hover) .project_imgs .project_img:nth-child(5) {
  opacity: 1;
  visibility: visible;
}
main section .project:has(.project_items .project_item:nth-child(6):hover) .project_imgs .project_img:nth-child(6) {
  opacity: 1;
  visibility: visible;
}
main section .project:has(.project_items .project_item:nth-child(7):hover) .project_imgs .project_img:nth-child(7) {
  opacity: 1;
  visibility: visible;
}
main section .project:has(.project_items .project_item:nth-child(8):hover) .project_imgs .project_img:nth-child(8) {
  opacity: 1;
  visibility: visible;
}
main section .project:has(.project_items .project_item:nth-child(9):hover) .project_imgs .project_img:nth-child(9) {
  opacity: 1;
  visibility: visible;
}
main section .project:has(.project_items .project_item:nth-child(10):hover) .project_imgs .project_img:nth-child(10) {
  opacity: 1;
  visibility: visible;
}
main section .img_items {
  display: flex;
  margin-top: 20px;
}
main section .img_items .img_item {
  width: 50%;
  height: 25vh;
  border-radius: 20px;
  background-color: #f8f8f8;
  overflow: hidden;
  position: relative;
  will-change: transform;
  transform-origin: left top;
}
main section .img_items .img_item .dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: 0.3s ease-in-out;
}
main section .img_items .img_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main section .img_items .img_item:hover .dim {
  background: rgba(0, 0, 0, 0);
}
main section .vod_items {
  display: flex;
  justify-content: end;
}
main section .vod_items .vod_item {
  flex: 0.5;
  aspect-ratio: 16/9;
  border-radius: 20px;
  background-color: #f8f8f8;
  overflow: hidden;
  cursor: url("./assets/icon/zoom_in.svg"), auto;
  transition: flex 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}
main section .vod_items .vod_item.enlarged {
  flex: 1;
  cursor: url("./assets/icon/zoom_out.svg"), auto;
}
main section .vod_items .vod_item video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main section .sns_wrap {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: 100px 0;
}
main section .sns_wrap .sns {
  flex: 1;
  height: 100%;
}
main section .sns_wrap .sns ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}
main section .sns_wrap .sns ul li {
  font-family: "Sora", sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.03em;
  color: #070707;
}
main section .sns_wrap .sns ul li:hover {
  text-decoration: underline;
}
main #Works .title_wrap {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
main #Contact {
  padding-top: 40px;
  padding-bottom: 120px;
  background-color: #f5f5f5;
}

footer {
  background-color: #f5f5f5;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  color: #777;
}

@media (max-width: 1024px) {
  header {
    padding: 16px 20px;
  }
  header nav {
    display: none;
  }
  .hero .hero_txt {
    font-size: 20px;
    line-height: 140%;
    padding: 20px;
    height: auto;
    min-height: 60vh;
  }
  main section {
    padding: 20px;
    padding-bottom: 80px;
  }
  main section .title_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 20px;
  }
  main section .title_wrap .section_title {
    font-size: 80px;
  }
  main section .project {
    height: auto;
    margin-top: 0px;
  }
  main section .project .project_imgs {
    display: none;
  }
  main section .project .project_items {
    gap: 20px;
  }
  main section .project .project_items .project_item {
    padding-bottom: 10px;
  }
  main section .project .project_items .project_item .item_txt {
    font-size: 20px;
    font-weight: 500;
  }
  main section .project .project_items .project_item .item_icon {
    opacity: 1;
    visibility: visible;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  main section .project .project_items .project_item .item_icon img {
    width: 32px;
    height: 32px;
    display: block;
  }
  main section .img_items {
    margin-top: 0;
  }
  main section .vod_items .vod_item {
    flex: 1;
  }
  main section .sns_wrap {
    margin: 40px 0;
  }
  main section .sns_wrap .sns ul li {
    font-size: 20px;
  }
  #Image .title_wrap .section_title {
    margin-bottom: 8px;
  }
  footer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */