html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}
* a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 40px;
  mix-blend-mode: difference;
  z-index: 99;
}
header .logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 16px;
  height: 16px;
}
header .logo a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
header .logo a svg {
  display: block;
  width: 16px;
  height: 16px;
}
header nav {
  flex: 3;
  display: flex;
}
header nav ul {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}
header nav ul li {
  font-family: "Azeret Mono", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fff;
  transition: 0.2s ease-out;
}
header nav .menu:last-child {
  justify-content: flex-end;
}

/* li hover */
header:has(.menu li:hover) .menu li {
  opacity: 0.2;
}

header:has(.menu li:hover) .menu li:hover {
  opacity: 1;
}

main .hero .hero_img {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  overflow: hidden;
}
main .hero .hero_img #webgl-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
main .hero .hero_img #webgl-canvas-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: multiply;
  opacity: 0.3;
}
main .hero .hero_img #wave-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: block;
  mix-blend-mode: screen;
  opacity: 0.8;
  pointer-events: auto;
  cursor: pointer;
}
main .hero .hero_img .canvas_txt {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #fff;
  z-index: 5;
}
main .hero .hero_txt {
  width: 100%;
  height: 100vh;
  padding: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
  position: relative;
  z-index: 3;
}

section.work {
  padding: 40px;
}

section {
  padding: 40px;
  color: #171717;
}
section .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
section .title .main_title {
  display: none;
  flex: 1;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1;
  text-transform: uppercase;
}
section .title .sub_title {
  flex: 1;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.2em;
  color: #929292;
}
section .image_items {
  position: relative;
  margin-bottom: 120px;
}
section .image_items .item {
  position: absolute;
}
section .image_items .item .img {
  width: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
  cursor: pointer;
  border-radius: 16px;
}
section .image_items .item .img img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: transform 0.9s cubic-bezier(0, 0, 0.2, 1);
  will-change: transform;
}
section .image_items .item .img:hover img {
  transform: scale(1.2);
}
section .image_items .item .img_title {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #5C6170;
}

.image_viewer_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0D0D0D;
  z-index: 1000;
}

section.img_viewer {
  padding: 20px;
  display: flex;
  height: 100vh;
  position: relative;
}
section.img_viewer .img_src {
  flex: 3;
  height: 100%;
  padding: 60px;
}
section.img_viewer .img_src img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
section.img_viewer .prompt_wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  background-color: #1D1D1D;
  border-radius: 24px;
  padding: 20px;
  padding-bottom: 10px;
  cursor: default;
}
section.img_viewer .prompt_wrap .button_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
}
section.img_viewer .prompt_wrap .button_wrap .close_button {
  background-color: #242424;
  border: none;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: filter 0.3s ease;
  position: relative;
}
section.img_viewer .prompt_wrap .button_wrap .close_button svg {
  display: block;
  width: 24px;
  height: 24px;
}
section.img_viewer .prompt_wrap .button_wrap .close_button:hover {
  filter: brightness(1.2);
}
section.img_viewer .prompt_wrap .button_wrap .copy_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: #000;
  background-color: #fff;
  border: none;
  padding: 16px 24px;
  border-radius: 25px;
  align-self: flex-end;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.02em;
  transition: border-radius 0.3s ease, opacity 0.3s ease;
}
section.img_viewer .prompt_wrap .button_wrap .copy_button:hover:not(:disabled) {
  cursor: pointer;
  opacity: 0.8;
  border-radius: 16px;
}
section.img_viewer .prompt_wrap .button_wrap .copy_button:disabled {
  cursor: not-allowed;
}
section.img_viewer .prompt_wrap:has(.copy_button:hover) .prompt_content .prompt_description {
  color: #d2d2d2;
}
section.img_viewer .prompt_wrap .prompt_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
section.img_viewer .prompt_wrap .prompt_content .prompt_title {
  font-family: "Instrument Serif", serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fff;
}
section.img_viewer .prompt_wrap .prompt_content .prompt_description {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  color: #aaa;
  overflow-y: auto;
  scrollbar-width: none;
  transition: color 0.5s ease;
  width: 100%;
}
section.img_viewer .prompt_wrap .prompt_content .prompt_description::-webkit-scrollbar {
  display: none;
}
section.img_viewer .prompt_wrap .prompt_content .prompt_description .eye_slash_icon {
  display: block;
  color: #fcfcfc;
  margin: 50% auto;
  width: 48px;
  height: 48px;
}
section.img_viewer .prompt_wrap .prompt_content .prompt_description .eye_slash_icon path {
  stroke-width: 1.5px;
}
section.img_viewer .mobile_button {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(17, 17, 17, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 4px 8px;
  border-radius: 100px;
  border: 1px solid rgba(92, 92, 92, 0.1);
}
section.img_viewer .mobile_button .mobile_close_button {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 12px 16px;
  border-radius: 100px;
}

section.hero_vod {
  padding: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #0d0d0d;
}
section.hero_vod video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.hero_vod .vod_caption {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(51, 51, 51, 0.2);
  padding: 14px 24px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  animation: bounce 3s ease-in-out infinite;
}
section.hero_vod .vod_caption span {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.02em;
}
section.hero_vod .vod_caption svg {
  display: block;
  width: 20px;
  height: 20px;
}
section.hero_vod .vod_caption svg rect {
  stroke: currentColor;
  stroke-width: 1.3px;
}
section.hero_vod .vod_caption svg path {
  stroke: currentColor;
  stroke-width: 1.7px;
}
@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0) scale(1);
  }
  50% {
    transform: translateX(-50%) translateY(-20px) scale(1.05);
  }
}

section.greeting {
  padding-top: 70px;
  display: flex;
  min-height: 100vh;
}
section.greeting .greeting_text {
  font-size: clamp(24px, 3.5vw, 48px);
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 0.9em;
  text-transform: uppercase;
  text-align: justify;
}
section.greeting .greeting_text .accent {
  color: #00FF37;
}
section.greeting .greeting_text .accent:hover {
  text-decoration: underline;
  cursor: pointer;
}
section.greeting .greeting_text .copied-text {
  color: #00FF37;
}
section.greeting .greeting_text span[style*="display: inline-block"] {
  vertical-align: top;
  transition: color 0.6s ease;
}

.copy_success_message {
  font-style: italic;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 32vw;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #00FF37;
  z-index: 1001;
  pointer-events: none;
}

section.footer {
  margin: 40px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background-color: #F9F9F9;
  border-radius: 20px;
}
section.footer .today {
  font-family: "Azeret Mono", sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1;
}
section.footer .today .date {
  flex: 1;
}
section.footer .today .time {
  flex: 1;
  font-variant-numeric: tabular-nums;
}
section.footer .bottom {
  font-family: "Azeret Mono", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: clamp(11px, 2vw, 13px);
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1;
}
section.footer .bottom .updated {
  flex: 1;
  white-space: nowrap;
}
section.footer .bottom .site_info {
  flex: 1;
  text-align: right;
  color: #929292;
}

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
  }
  header {
    padding: 10px 20px;
  }
  main .hero .hero_txt {
    font-size: 20px;
    line-height: 140%;
    padding: 20px;
  }
  main section {
    padding: 20px;
  }
  main section.work {
    padding: 20px;
  }
  main section.img_viewer {
    padding: 0;
  }
  main section.img_viewer .img_src {
    padding: 0;
  }
  main section.img_viewer .prompt_wrap {
    display: none;
  }
  main section.img_viewer .mobile_button {
    display: flex;
  }
  main section.img_viewer .img_src img {
    -o-object-position: center;
       object-position: center;
  }
  main section.footer {
    margin: 20px;
  }
}/*# sourceMappingURL=global.css.map */